<div class="search">
  <form #weatherForm="ngForm" (ngSubmit)="onSubmit(weatherForm)">
    <input
      type="text"
      name="city"
      id=""
      placeholder="Search city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper__data">
    <img
      src="../assets/images/hot.jfif"
      alt="hot weather"
      *ngIf="weatherData.main.temp > 15"
    />
    <img
      src="../assets/images/cold.jfif"
      alt="cold weather"
      *ngIf="weatherData.main.temp <= 15"
    />
    <div class="weather__data">
      <div class="location">{{ weatherData.name }}</div>
      <!-- ° :  alt 0176 -->
      <div class="temperature">
        {{ weatherData.main.temp | number: "1.0-0" }} °C
      </div>
    </div>
  </div>
  <div class="lower__data">
    <div class="more__info__label">more information</div>
    <div class="more__info__container">
      <div class="info__block">
        <div class="info__block__label">
          <img src="../assets/images/min.jpg" alt="min temp " />
          <span> min </span>
        </div>
        <div class="info__block__value">
          {{ weatherData.main.temp_min | number: "1.0-0" }} °C
        </div>
      </div>
      <div class="info__block">
        <div class="info__block__label">
          <img src="../assets/images/max.png" alt="max temp " />
          <span> max </span>
        </div>
        <div class="info__block__value">
          {{ weatherData.main.temp_max | number: "1.0-0" }} °C
        </div>
      </div>
      <div class="info__block">
        <div class="info__block__label">
          <img src="../assets/images/humidity.png" alt="humidity temp " />
          <span> humidity </span>
        </div>
        <div class="info__block__value">
          {{ weatherData.main.humidity | number: "1.0-0" }} %
        </div>
      </div>
      <div class="info__block">
        <div class="info__block__label">
          <img src="../assets/images/wind.png" alt="wind temp " />
          <span> wind </span>
        </div>
        <div class="info__block__value">
          {{ weatherData.wind.speed | number: "1.0-0" }} km/h
        </div>
      </div>
    </div>
  </div>
</div>
